# Core dependencies
pyyaml
kagglehub
kaggle
Pillow
numpy
Faker
pandas
numpy
pyarrow


# Data validation and metadata
great-expectations
scipy
mlflow

# Fairness and bias detection
tensorflow
fairlearn
scikit-learn
tensorflow-model-analysis

# Testing dependencies
pytest

